.contenedorComun{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-inline: 2rem;
    text-align: center;
}

.Hoja1 p{
    width: 50%;
    margin: auto;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 1rem;
}

.portadaHoja2{
    width: 30%;
    margin-bottom: 3rem;
}

.HojaComun p{
    width: 50%;
    margin: auto;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.aclaracionFinal{
    font-size: 1rem;
    display: block;
    color: rgb(255,255,255,0.7);
}

.FinPerdiste{
    width: 50%;
    font-size: 4rem;
    padding-top: 3rem;
    font-family: 'Pistilli Roman', sans-serif;
}

.timelapse{
    font-size: 4rem;
    background-color: #3A3A3A;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 3px;
    font-family: 'Pistilli Roman', sans-serif;
}