.contenedorMarca{
    padding-inline: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.contenedorMarca a{
    text-decoration: none;
    transition: all .3s ease;
    opacity: 0.8;
}

.contenedorMarca a:hover{
    transform: scale(1.05);
    opacity: 1;
}

.subtituloMarca{
    text-align: center;
    font-size: 0.7rem;
    color: rgb(227,227,227,0.8);
}

.tituloMarca{
    margin-top: -0.6rem;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255,255,255,1);
    font-family: 'Pistilli Roman', sans-serif;
}

.subtitulo2Marca{
    margin-top: -0.6rem;
    text-align: center;
    font-size: 0.8rem;
    color: rgb(255,255,255,0.8);
    font-family: 'Pistilli Roman', sans-serif;
    letter-spacing: 3px;
}

.labelIngresarNombra{
    margin-top: 10rem;
    text-align: center;
}

.formNombre{
    width: 100%;
}

.inputNombre{
    background-color: #FFFFFF;
    border: 1px solid #C6C6C6;
    height: 40px;
    border-radius: 4px;
}

.form-group{
    margin: auto;
    margin-top: 1rem;
}

.errorInput{
    color: rgb(187, 55, 55,0.8);
    margin-top: 0.5rem;
    text-align: start;
}

@media (max-width: 576px){

    .labelIngresarNombra{
        padding-inline: 1.3rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    .form-group{
        width: 70%;
    }
    
}

@media (min-width: 576px) and (max-width: 992px){

    .labelIngresarNombra{
        padding-inline: 2rem;
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .form-group{
        width: 50%;
    }
    
}

@media (min-width: 992px) and (max-width: 1200px){

    .labelIngresarNombra{
        padding-inline: 2rem;
        font-size: 3rem;
    }

    .form-group{
        width: 50%;
    }
    
}

@media (min-width: 1200px){

    .labelIngresarNombra{
        padding-inline: 2rem;
        font-size: 3rem;
    }

    .form-group{
        width: 30%;
    }
    
    
}